# Exercícios do curso de pandas

## Importando dados

### Informações de um DataFrame

Considere o seguinte código Python no Jupyter:

In [1]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

Para obtermos uma tabela contendo os nomes das variáveis e seus respectivos tipos de dados, conforme o exemplo abaixo, que linhas de código devemos executar no Jupyter?

In [8]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de dados'])

In [10]:
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis Tipos de dados
Aluno             object
Idade              int64
Nota             float64
Aprovado            bool