# Exercícios do curso de Pandas avançado

## Começando o trabalho

### Carregando arquivos JSON

Em uma base de dados que relaciona o nome da pessoa e seus dados referentes à idade, peso e altura, considere a variável data_json abaixo:

In [4]:
import pandas as pd
data_json = '{"Rita": {"Idade": 24, "Peso": 62, "Altura": 1.65}, "Zeca": {"Idade": 32, "Peso": 80, "Altura": 1.82}}'

Indique a opção que mostra os códigos que produzem os seguintes resultados:
    
**Tabela A**

| | Idade | Peso | Altura |
|---|---|---|---|
|Rita | 24 | 62 | 1.65 |
|Zeca | 32 | 80 | 1.82 |

**Tabela B**

|	|Rita|	Zeca|
|---|---|---|
|Idade|	24|	32|
|Peso	|62|	80|
|Altura	|1.65|	1.82|

In [5]:
dados = pd.read_json(
    path_or_buf = data_json,
    orient = 'index'
)
dados

      Idade  Peso  Altura
Rita     24    62    1.65
Zeca     32    80    1.82

In [7]:
dados = pd.read_json(
    path_or_buf = data_json
)
dados

         Rita   Zeca
Idade   24.00  32.00
Peso    62.00  80.00
Altura   1.65   1.82

### Carregando arquivos Excel

No arquivo Excel (XLSX) disponibilizado (bairros.xlsx) temos duas planilhas. Na planilha “Residencial X Comercial”, temos os valores do m2 para imóveis comerciais e residenciais nos bairros da cidade do Rio de Janeiro. Temos também a divisão regional das informações por zonas da cidade.

Utilizando esta planilha e o método `read_excel()` do pandas obtenha o seguinte DataFrame:

|Zonas	|Bairros|	Residencial|	Comercial|
|---|---|---|---|
|Sul	|Botafogo	|14002	|7972|
||Catete	|15232|	6259|
||Copacabana	|23318|	9355|
|... |...|...|...|

Observe que foram selecionadas apenas as linhas dos bairros pertencentes à zona sul da cidade.

Marque a opção que apresenta o código necessário para criar o DataFrame acima.

In [15]:
pd.read_excel(
    io = 'dados/bairros.xlsx',
    sheet_name = 'Residencial X Comercial',
    #header = 1,
    names = ['Zonas', 'Bairros', 'Residencial', 'Comercial'],
    index_col = [0, 1],
    usecols = 'B:E',
    skiprows = 18,
    nrows = 17
)

                       Residencial  Comercial
Zonas Bairros
Sul   Botafogo               14002       7972
      Catete                 15232       6259
      Copacabana             23318       9355
      Cosme Velho            10320       8177
      Flamengo               19636       7135
      Gávea                  13506       8211
      Humaitá                10603       5039
      Ipanema                15965       7293
      Jardim Botânico        17243       8095
      Lagoa                  24982       6584
      Laranjeiras            17307       7745
      Leblon                 13815       8125
      Leme                   15815       8587
      Rocinha                15110       9023
      São Conrado            20727       9587
      Urca                   22876       6607
      Vidigal                23470       5424