# Formas de seleção

In [1]:
import pandas as pd

In [8]:
data = [tuple(range(i, i + 4)) for i in list(range(1,16, 4))]
data

[(1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12), (13, 14, 15, 16)]

In [22]:
rows = ['l' + str(i) for i in range(1,5)]
cols = ['c' + str(i) for i in range(1,5)]

In [24]:
df = pd.DataFrame(data, rows, cols)
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

## Selecionando uma coluna

In [25]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [26]:
type(df['c1']) # note que retorna uma Series

pandas.core.series.Series

## Selecionando mais de uma coluna e reordenando

In [28]:
df[['c3', 'c1']] # note que precisa passar como uma lista as colunas

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

## Selecionando a partir do número da linha e coluna

In [30]:
df[1:3] # lembrando que começa a contagem do 0 e não inclui o último número

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [40]:
df[1:3][['c2', 'c4']]

    c2  c4
l2   6   8
l3  10  12

In [41]:
df.loc['l3'] # aceita o nome

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [42]:
df.loc[['l1','l3']]

    c1  c2  c3  c4
l1   1   2   3   4
l3   9  10  11  12

In [44]:
df.loc['l2', 'c3']

7

In [45]:
df.iloc[1,2] # aceita números

7